<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="style.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="script.js" defer></script>
    <title>BMI Calculator</title>
  </head>
  <body>
    <div class="container">
      <h1>BMI Calculator</h1>
      <p>
        <label>Height in CM: </label
        ><input type="text" id="height" v-model="height" />
      </p>
      <p>
        <label>Weight in KG: </label
        ><input @input="getWeight" type="text" id="weight" v-model="weight" />
      </p>
      <button @click="getFormula">Calculate</button>
      <div id="results">{{result}}</div>
      <div id="weight-guide">
        <h3>BMI Weight Guide</h3>
        <p v-if="result > 0 && result < 18.6">Under Weight = Less than 18.6</p>
        <p v-else-if="result > 18.6 && result < 24.9">
          Normal Range = 18.6 and 24.9
        </p>
        <p v-else-if="result > 24.9">Overweight = Greater than 24.9</p>
      </div>
    </div>
  </body>
</html>
